.content-body {
    &.find-content {
        .find-container {
            .find-title {
                h2 {
                    @include fontSize(31px,700);
                    line-height: 28px;
                    color: #36353c;
                }
            }
            .find-advice {
                margin: 15px 0 22px;
                p {
                    @include fontSize(14px,300);
                    line-height: 22px;
                    color: #a9a9a9;
                }
            }
            .btn-wrapper {
                margin-top: 26px;
            }
        }
    }
}