.content-body {
    &.note-content {
        padding-top: 62px;
        background: #0ad09a;
        min-height: 100%;
        .note-container {
            .note-subject {
                padding-left: 18px;
                color: #fff;
                h2 {
                    @include fontSize(25px,700);
                    letter-spacing: -.7px;
                }
            }
            .note-wrapper {
                margin-top: 20px;
                padding: 35px 18px 0;
                background: #fff;
                min-height: calc( 100vh - 112px );
                .note-inner {
                    margin-bottom: 45px;
                    .date {
                        p {
                            color: #8a8a8a;
                            @include fontSize(18px,500);
                            letter-spacing: -.5px;
                        }
                    }
                    >ul {
                        margin-top: 10px;
                        li {
                            border-radius: 16px;
                            background: #fff;
                            box-shadow: 10px 21px 34px 0 rgba(0,0,0,.09);
                            padding: 16px;
                            @include flexCenter;
                            position: relative;
                            margin-bottom: 10px;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            .img-box {
                                width: 80px;
                                height: 60px;
                                background: url(../img/bg-intro02.png) center center;
                                background-size: cover;
                                margin-right: 23px;
                            }
                            .word-box {
                                .korean {
                                    @include fontSize(17px,700);
                                    color: #2f2d3b;
                                    margin-bottom: 9px;
                                    &.active {
                                        color: #0ad09a;
                                    }
                                }
                                .english {
                                    color: #7c7c7c;
                                    @include fontSize(13px,700);
                                    margin-bottom: 8px;
                                }
                                p {
                                    color:#bfbfbf;
                                    @include fontSize(12px,700);
                                }
                            }
                            .speak-btn {
                                position: absolute;
                                width: 20px;
                                top: 12px;
                                right: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}