@@include('modules/head.html')

<div class="content-body user-content">
    <div class="login-container">
        <div class="login-section">
            <div class="logo-wrapper">
                <img src="img/ic-logo-green.png" alt="로고">
            </div>
            <div class="input-wrapper">
                <div class="input-inner login-id">
                    <input type="text" placeholder="Email" onchange="login()">
                </div>
                <div class="input-inner login-pw">
                    <input type="password" placeholder="Password" onchange="login()">
                </div>
            </div>
            <div class="btn-wrapper">
                <button type="submit" class="clear-data">Sign in</button>
            </div>
            <ul>
                <li><a href=""><img src="img/ic-question.png" alt="물음표">Forgot ID?</a></li>
                <li><a href=""><img src="img/ic-question.png" alt="물음표">Forgot Password?</a></li>
            </ul>
        </div>
        <div class="subLogin-section">
            <img src="img/img-or.png" alt="서브로그인">
            <ul>
                <li>
                    <img src="img/btn-google.png" alt="구글 로그인">
                </li>
                <li>
                    <img src="img/btn-facebook.png" alt="페이스북 로그인">
                </li>
                <li>
                    <img src="img/btn-line.png" alt="라인 로그인">
                </li>
                <li>
                    <img src="img/btn-zalo.png" alt="얄로 로그인">
                </li>
            </ul>
        </div>
    </div>
    <div class="signUp-container">
        <p class="spoqa-font">Not yet a member?</p><strong>Sign up</strong>
    </div>
</div>

@@include('modules/scriptHead.html')


<script>




    function login(){
        if ($('.input-inner.login-id input').val() != "" && $('.input-inner.login-pw input').val() != "") {
            $('.input-inner input').addClass('active').parents('.input-wrapper').siblings('.btn-wrapper').children('button').addClass('clear-data');
        }else{
            $('.input-inner input').parents('.input-wrapper').siblings('.btn-wrapper').children('button').removeClass('clear-data');
        }
    }

</script>