<footer>
    <div class="tab-wrapper">
        <div class="tab-inner">
            <ul>
                <li class="active">
                    <img src="img/ic-home-ov.png" alt="홈">
                </li>
                <li>
                    <img src="img/ic-learning.png" alt="공부">
                </li>
                <li>
                    <img src="img/ic-search.png" alt="검색">
                </li>
                <li>
                    <img src="img/ic-mypage.png" alt="마이페이지">
                </li>
            </ul>
        </div>
    </div>
</footer>